/* 
    Author     : Francisco_Antonio
*/

h1{
    font-family: 'Indie Flower', cursive;
    width: 60%;
    margin-left: 27%;
    padding-left: 10%;
}
#index{
    font-family: 'Indie Flower', cursive;
    width: 60%;
    margin-left: 29%;
    padding-left: 10%;
}
#contenido{
    width: 60%;
    margin-left: 20%;
    padding-left: 10%;
    font-family: 'Indie Flower', cursive;
    padding:2px;
    display:block;
   margin: 0 auto;
   text-align:center;
}

@font-face {
    font-family: 'Indie Flower', cursive;
    src: url(/FONT/IndieFlower-Regular.ttf);
}
a{
    text-decoration: none;
    color: black;
}
.number{
    width: 3em;
}
